# 加载函数

In [1]:
from common import read
from common import plot_df, plot_district, plot
import pandas as pd
def plotCity(df):
    gp = df.groupby(['成交时间'])['成交价(元/平)']
    res=pd.DataFrame({"volume":gp.size(),"median_price":gp.median(), "mean_price":gp.mean()})
    res = res.iloc[:len(res),:]
    title = city
    res = plot(res, city, title, MA, ma_length, start_date)
    return res
def plotAllDistrict(df):
    districts = list(df['下辖区'].unique())
    res = {}
    for district in districts:
        if str(district) != 'nan':
            res[district] = plot_district(df, city, district, ma_length, start_date)
    return res

# 画各个城市的趋势图

In [ ]:
import os
MA = True
ma_length = 30
start_date = '2015-01-01'

cityList = ['北京', '上海', '深圳', '杭州', '广州', '长沙', '厦门', '宁波', '合肥', '成都','重庆','武汉',
            '西安','石家庄','苏州','南京', '大连', '青岛', '无锡', '保定', '温州', '廊坊']
#cityList = ['北京', '上海','深圳']
cityList = ['北京']
data = {}
res = {}
districtRes = {}
for city in cityList:
    print(city)
    df = read(city)
    data[city] = df
    res[city] = plotCity(df)
    districtRes[city]=plotAllDistrict(df)

In [ ]:
def drawDown(res):
    dd = {}
    for district in res:
        try:
            dd[district] = (res[district]['mean_price'][-1]/res[district]['mean_price'].max()-1)
        except:
            pass
    dd = pd.DataFrame({'跌幅':dd}).sort_values('跌幅')
    dd['跌幅'] = ["%.2f%%"%(a*100) for a in dd['跌幅']]
    display(dd)
#display(districtRes['北京']['海淀'])
drawDown(districtRes['北京'])

In [ ]:
#计算城市排名
if not os.path.exists('fig/allcity'):
    os.makedirs('fig/allcity')
os.system('rm fig/allcity/*')
median = {}
mean = {}
yearChange = {}
change = {}
monthChange = {}
for city in cityList:
    median[city] = int(res[city]['median_price'][-1])
    mean[city] = int(res[city]['mean_price'][-1])
    try:
        yearChange[city] = "%.2f%%"%(100 * (res[city]['median_price'][-1]/res[city]['median_price'][-365] - 1))
    except:
        yearChange[city] = '数据不足'
    change[city] = "%.2f%%"%(100 * (res[city]['median_price'][-1]/res[city]['median_price'][-180] - 1))
    monthChange[city] = "%.2f%%"%(100 * (res[city]['median_price'][-1]/res[city]['median_price'][-30] - 1))

cityRank = pd.DataFrame({'中位数':median, '均值':mean, 
                         '近一年':yearChange,
                         '近半年':change, '近一个月':monthChange}).sort_values('中位数', ascending = False)
cityRank['城市'] = cityRank.index
cityRank.index = range(1, len(cityRank) + 1)
cityRank = cityRank.loc[:,['城市', '中位数', '均值', '近一年', '近半年','近一个月']]
display(cityRank)
for index, row in cityRank.iterrows():
    city = row['城市']
    index = int(index)
    cmd = 'cp fig/%s/%s.png fig/allcity/%.2d.%s.png'%(city, city, index, city)
    os.system(cmd)

# 合并历史数据

In [ ]:
from common import read
cityList = ['北京', '上海', '深圳', '杭州', '广州', '长沙', '厦门', '宁波', '合肥', '成都','重庆','武汉',
            '西安','石家庄','苏州','南京', '大连', '温州']
for city in cityList:
    df = read(city)
    df.to_csv('data/all/%s.csv'%city, index=False)

In [ ]:
if not os.path.exists('data/res'):
    os.makedirs('data/res')
for city in cityList:
    res[city].to_csv('data/res/'+city+'.csv')

In [ ]:
xiaoqu= open('xiaoqu/lfxiaoqu.txt', 'w')
xiaoquList = df['小区'].unique()
print(len(xiaoquList))
for xq in xiaoquList:
    if str(xq) != 'nan':
        xiaoqu.write(xq+'\n')
    
xiaoqu.close()

In [3]:
from common import read
city = '南京'
df = read(city)
#df.drop_duplicates(subset=['链家编号'])
print(df.columns)
print(len(df))
df.to_csv(city+'.csv')

92043
53348
53347
Index(['状态', '成交价(元/平)', '建筑面积', '挂牌时间', '上次交易时间', '建成时间', '城市', '下辖区', '商圈',
       '小区', '所属环线', '户型', '朝向', '梯户比例', '房屋用途', '土地年限', '建筑类型', '交易权属', '装修',
       '建筑结构', '供暖方式', '产权所属', '户型结构', '电梯', '所在楼层', '房屋年限', '标题', '网址',
       '关注（人）', '带看（次）', '挂牌价格(万)', '成交周期(天)', '调价(次)', '浏览（次）', '套内面积',
       '成交时间', '售价(万)'],
      dtype='object')
53347

In [ ]:
df['土地年限']

In [ ]:
from common import plot_dfs
import pandas as pd
def plotDianti(df):
    pd.options.display.max_columns = None
    df_dt= df.loc[df['电梯'] == '有']
    df_ndt= df.loc[df['电梯'] != '有']
    print('有电梯', len(df_dt))
    print('无电梯',len(df_ndt))
    plot_dfs([df_ndt,df_dt], '%s有无电梯'%city, ['无电梯', '电梯'], 30, '2015-01-01')
for city in cityList:
    df = read(city)
    plotDianti(df)

In [ ]:
from common import plot_df
df_sjs = df.loc[df['下辖区']=='石景山']
xiaoquList = df_sjs['小区'].unique()
for xiaoqu in xiaoquList:
    plot_df(df_sjs.loc[df_sjs["小区"]== xiaoqu], "石景山", xiaoqu, True, 10)

In [ ]:
import pandas as pd
x=df_sjs.groupby('小区')

x_mean  = x.mean()
x_size = x.size()
x_mean = x_mean.merge(pd.DataFrame({'size':x_size}), left_index = True, right_index = True)
x_mean=x_mean.loc[x_size>=5]
x_mean=x_mean.sort_values(by='成交价(元/平)', ascending=False).loc[:,["建筑面积","成交价(元/平)","售价(万)", 'size']]
x_mean

In [ ]:
from common import plot, plot_dfs, plot_df
MA = True
ma_length = 10
def plot_xiaoqu(xiaoqu, df):
    df_xiaoqu = df.dropna(subset=['小区'])
    df_xiaoqu = df_xiaoqu.loc[df_xiaoqu['小区'].str.contains(xiaoqu)]
    #plot_dfs([df, df_xiaoqu], xiaoqu, ['全市', xiaoqu], ma_length, '2015-01-01')
    plot_df(df_xiaoqu, city, xiaoqu, MA, ma_length)
    
ma_length = 30
#plot_xiaoqu('八角', data['北京'])
plot_xiaoqu('观林园', df)

In [ ]:
pd.options.display.max_columns = None
#df.loc[df['小区'].str.contains('团结湖南里')]
df.loc[df['小区'].str.contains('爱乐')].sort_values(by='成交时间', ascending=False)
#df.loc[df['小区'].str.contains('平乐园')].sort_values(by='成交时间', ascending=False)

In [ ]:
x=df.groupby('小区')
x_mean  = x.mean()
x_size = x.size()
#x_size
x_mean=x_mean.loc[x_size>=1]
x_mean=x_mean.sort_values(by='成交价(元/平)', ascending=False).loc[:,["建筑面积","成交价(元/平)","售价(万)"]]
x_mean

In [ ]:
x_mean.index[:10]

In [ ]:
df.sort_values('售价(万)', ascending=False).loc[:,["小区", "建筑面积","成交价(元/平)", "售价(万)"]]

In [ ]:
df.sort_values('成交价(元/平)', ascending=False).loc[:,["小区", "建筑面积","成交价(元/平)", "售价(万)","成交时间"]]

In [ ]:
ma_length = 10
mean_price = df['成交价(元/平)'].mean()
price_std = df['成交价(元/平)'].std()
print('mean:', mean_price, 'std:', price_std)
threshold = 1.3
#high_df = df.loc[df['成交价(元/平)']>= mean_price + threshold * price_std]
#low_df =  df.loc[df['成交价(元/平)']< mean_price - threshold* price_std]
#medium_df = df.loc[df['成交价(元/平)']< mean_price + threshold * price_std]
#medium_df = medium_df.loc[medium_df['成交价(元/平)']>= mean_price - threshold * price_std]
sort_key = '成交价(元/平)'#
#sort_key = '售价(万)'
df = df.sort_values(sort_key, ascending = False)
count = len(df)//3
high_df = df.iloc[:count]
low_df = df.iloc[-count:]
medium_df = df.iloc[count:-count]
print(len(high_df), len(low_df), len(medium_df))
print(high_df[sort_key].mean(), medium_df[sort_key].mean(), low_df[sort_key].mean() )
ma_length = 30
def getPriceSeries(df):
    gp = df.groupby(['成交时间'])['成交价(元/平)']
    res=pd.DataFrame({"volume":gp.size(),"median_price":gp.median(), "mean_price":gp.mean()})
    res = res.sort_index()
    res = res.iloc[:len(res)-1]
    res = get_moving_average(res, ma_length)
    return res
highSeries=getPriceSeries(high_df)
mediumSeries=getPriceSeries(medium_df)
lowSeries=getPriceSeries(low_df)

In [ ]:
fig, ax = plt.subplots()
ax.plot(highSeries['mean_price']/highSeries['mean_price'][0])
ax.plot(mediumSeries['mean_price']/mediumSeries['mean_price'][0])
ax.plot(lowSeries['mean_price']/lowSeries['mean_price'][0])
plt.xticks(rotation=45)
ax.legend(['high=%.f yuan'%(high_df[sort_key].mean()),
           'medium=%.f yuan'%medium_df[sort_key].mean(),
           'low=%.f yuan'%low_df[sort_key].mean()])
xticks = ax.xaxis.get_major_ticks()
interval = len(xticks)// 10
ax.set_xticks(ax.get_xticks()[::interval])
'done'

In [ ]:
plt.axis

In [ ]:
plt.plot(highSeries['median_price']/highSeries['median_price'][0])
plt.plot(mediumSeries['median_price']/mediumSeries['median_price'][0])
plt.plot(lowSeries['median_price']/lowSeries['median_price'][0])
plt.xticks(rotation=90)
plt.legend(['high','medium', 'low'])

In [ ]:
def plotAllDistrict(df, ma_length = 10):
    districts = list(set(df['下辖区']))
    legend = ['beijing']
    data = []
    gp = df.groupby(['成交时间'])['成交价(元/平)']
    res=pd.DataFrame({"volume":gp.size(),"median_price":gp.median(), "mean_price":gp.mean()})
    res = res.iloc[:len(res)-1,:]
    res = get_moving_average(res, ma_length)

    data.append(res)
    for district in districts:
        gp = df.loc[df['下辖区']==district].groupby(['成交时间'])
        res = pd.DataFrame({'volume':gp.size(),'mean_price':gp['成交价(元/平)'].mean(), 'median_price':gp['成交价(元/平)'].median()})
        res = res.iloc[:len(res) -1,:]
        res = get_moving_average(res, ma_length)
        if len(res) < 1:
            continue
        data.append(res)
        title = pinyin(district)
        if district == '朝阳':
            title = 'chao yang'
        elif district == '长宁':
            title = 'chang ning'
        elif district == '闵行':
            title = 'min hang'
        else:
            title = " ".join([x[0] for x in title])
        legend.append(title)
   
    for i in range(len(data)):
        plt.plot(data[i]['mean_price']/data[i]['mean_price'].iloc[0])
    plt.xticks(rotation=90)
    plt.legend(legend)
plotAllDistrict(df, 30)

In [5]:
city = '重庆'
MA = True
ma_length = 30
start_date = '2015-01-01'
df = read(city)
res = plotCity(df)
plotAllDistrict(df)

106773

/anaconda3/lib/python3.6/site-packages/matplotlib/font_manager.py:1328: UserWarning: findfont: Font family ['sans-serif'] not found. Falling back to DejaVu Sans
  (prop.get_family(), self.defaultFamily[fontext]))

{'江北':             volume  median_price    mean_price
 2015-01-01       0           NaN           NaN
 2015-01-02       0           NaN           NaN
 2015-01-03       0           NaN           NaN
 2015-01-04       0           NaN           NaN
 2015-01-05       0           NaN           NaN
 2015-01-06       0           NaN           NaN
 2015-01-07       0           NaN           NaN
 2015-01-08       0           NaN           NaN
 2015-01-09       0           NaN           NaN
 2015-01-10       0           NaN           NaN
 2015-01-11       0           NaN           NaN
 2015-01-12       0           NaN           NaN
 2015-01-13       0           NaN           NaN
 2015-01-14       0           NaN           NaN
 2015-01-15       0           NaN           NaN
 2015-01-16       0           NaN           NaN
 2015-01-17       0           NaN           NaN
 2015-01-18       0           NaN           NaN
 2015-01-19       0           NaN           NaN
 2015-01-20       0           NaN           NaN
 2015-01-21       0           NaN           NaN
 2015-01-22       0           NaN           NaN
 2015-01-23       0           NaN           NaN
 2015-01-24       0           NaN           NaN
 2015-01-25       0           NaN           NaN
 2015-01-26       0           NaN           NaN
 2015-01-27       0           NaN           NaN
 2015-01-28       0           NaN           NaN
 2015-01-29       0           NaN           NaN
 2015-01-30       0           NaN           NaN
 ...            ...           ...           ...
 2019-09-09     293  15113.856655  15024.177474
 2019-09-10     286  15109.255245  14977.430070
 2019-09-11     279  14975.849462  14933.888889
 2019-09-12     277  14959.790614  14953.151625
 2019-09-13     270  14909.125926  14936.462963
 2019-09-14     271  14984.357934  14974.059041
 2019-09-15     281  15047.548043  15015.626335
 2019-09-16     281  15073.106762  15046.633452
 2019-09-17     283  15024.303887  15029.402827
 2019-09-18     291  15144.268041  15087.673540
 2019-09-19     293  15219.034130  15098.481229
 2019-09-20     296  15157.084459  15082.516892
 2019-09-21     295  15218.471186  15102.071186
 2019-09-22     301  15178.435216  15073.106312
 2019-09-23     299  15134.782609  15048.274247
 2019-09-24     307  15120.068404  15008.674267
 2019-09-25     307  15167.472313  15098.407166
 2019-09-26     306  15167.176471  15061.758170
 2019-09-27     307  15099.400651  15032.837134
 2019-09-28     312  15012.086538  14970.589744
 2019-09-29     312  15073.416667  15011.516026
 2019-09-30     317  15091.656151  14996.312303
 2019-10-01     305  15097.632787  14985.059016
 2019-10-02     301  15102.408638  14959.475083
 2019-10-03     300  15074.413333  14943.970000
 2019-10-04     296  15051.003378  14930.668919
 2019-10-05     291  15049.914089  14943.652921
 2019-10-06     291  15068.209622  14978.687285
 2019-10-07     290  15049.317241  14903.262069
 2019-10-08     297  14971.787879  14814.282828

 [1742 rows x 3 columns], '南岸':             volume  median_price    mean_price
 2015-01-01       0           NaN           NaN
 2015-01-02       0           NaN           NaN
 2015-01-03       0           NaN           NaN
 2015-01-04       0           NaN           NaN
 2015-01-05       0           NaN           NaN
 2015-01-06       0           NaN           NaN
 2015-01-07       0           NaN           NaN
 2015-01-08       0           NaN           NaN
 2015-01-09       0           NaN           NaN
 2015-01-10       0           NaN           NaN
 2015-01-11       0           NaN           NaN
 2015-01-12       0           NaN           NaN
 2015-01-13       0           NaN           NaN
 2015-01-14       0           NaN           NaN
 2015-01-15       0           NaN           NaN
 2015-01-16       0           NaN           NaN
 2015-01-17       0           NaN           NaN
 2015-01-18       0           NaN           NaN
 2015-01-19       0           NaN           NaN
 2015-01-20       0           NaN           NaN
 2015-01-21       0           NaN           NaN
 2015-01-22       0           NaN           NaN
 2015-01-23       0           NaN           NaN
 2015-01-24       0           NaN           NaN
 2015-01-25       0           NaN           NaN
 2015-01-26       0           NaN           NaN
 2015-01-27       0           NaN           NaN
 2015-01-28       0           NaN           NaN
 2015-01-29       0           NaN           NaN
 2015-01-30       0           NaN           NaN
 ...            ...           ...           ...
 2019-09-09     366  13336.051913  13244.792350
 2019-09-10     373  13315.179625  13214.506702
 2019-09-11     361  13285.811634  13200.584488
 2019-09-12     353  13241.444759  13152.753541
 2019-09-13     353  13256.932011  13150.161473
 2019-09-14     348  13275.643678  13189.307471
 2019-09-15     360  13295.822222  13208.155556
 2019-09-16     366  13301.248634  13213.240437
 2019-09-17     363  13272.862259  13230.986226
 2019-09-18     363  13263.539945  13238.168044
 2019-09-19     363  13265.691460  13271.721763
 2019-09-20     358  13254.290503  13259.069832
 2019-09-21     359  13222.415042  13233.626741
 2019-09-22     366  13281.601093  13276.191257
 2019-09-23     370  13239.675676  13232.437838
 2019-09-24     373  13232.206434  13256.101877
 2019-09-25     374  13154.312834  13206.248663
 2019-09-26     376  13143.925532  13191.188830
 2019-09-27     376  13199.404255  13247.968085
 2019-09-28     373  13241.324397  13284.603217
 2019-09-29     377  13178.758621  13246.862069
 2019-09-30     386  13168.189119  13229.209845
 2019-10-01     371  13198.962264  13230.512129
 2019-10-02     363  13178.297521  13213.044077
 2019-10-03     359  13179.832869  13204.342618
 2019-10-04     356  13154.028090  13172.775281
 2019-10-05     355  13169.264789  13191.450704
 2019-10-06     353  13186.263456  13218.549575
 2019-10-07     351  13211.980057  13277.188034
 2019-10-08     343  13259.145773  13327.836735

 [1742 rows x 3 columns], '沙坪坝':             volume  median_price    mean_price
 2015-01-01       0           NaN           NaN
 2015-01-02       0           NaN           NaN
 2015-01-03       0           NaN           NaN
 2015-01-04       0           NaN           NaN
 2015-01-05       0           NaN           NaN
 2015-01-06       0           NaN           NaN
 2015-01-07       0           NaN           NaN
 2015-01-08       0           NaN           NaN
 2015-01-09       0           NaN           NaN
 2015-01-10       0           NaN           NaN
 2015-01-11       0           NaN           NaN
 2015-01-12       0           NaN           NaN
 2015-01-13       0           NaN           NaN
 2015-01-14       0           NaN           NaN
 2015-01-15       0           NaN           NaN
 2015-01-16       0           NaN           NaN
 2015-01-17       0           NaN           NaN
 2015-01-18       0           NaN           NaN
 2015-01-19       0           NaN           NaN
 2015-01-20       0           NaN           NaN
 2015-01-21       0           NaN           NaN
 2015-01-22       0           NaN           NaN
 2015-01-23       0           NaN           NaN
 2015-01-24       0           NaN           NaN
 2015-01-25       0           NaN           NaN
 2015-01-26       0           NaN           NaN
 2015-01-27       0           NaN           NaN
 2015-01-28       0           NaN           NaN
 2015-01-29       0           NaN           NaN
 2015-01-30       0           NaN           NaN
 ...            ...           ...           ...
 2019-09-09     315  11770.993651  12001.803175
 2019-09-10     310  11736.580645  11974.745161
 2019-09-11     302  11669.384106  11966.649007
 2019-09-12     296  11676.489865  11958.547297
 2019-09-13     295  11735.677966  12031.196610
 2019-09-14     294  11726.309524  12057.418367
 2019-09-15     294  11691.088435  12040.568027
 2019-09-16     287  11662.951220  11977.160279
 2019-09-17     287  11665.721254  11985.480836
 2019-09-18     293  11587.897611  11918.416382
 2019-09-19     296  11591.523649  11935.179054
 2019-09-20     297  11583.989899  11923.299663
 2019-09-21     297  11598.111111  11935.222222
 2019-09-22     298  11573.865772  11925.808725
 2019-09-23     297  11570.548822  11933.057239
 2019-09-24     291  11565.240550  11935.567010
 2019-09-25     291  11577.773196  11955.079038
 2019-09-26     289  11556.522491  11929.522491
 2019-09-27     282  11591.631206  11972.996454
 2019-09-28     272  11608.275735  12015.261029
 2019-09-29     278  11594.665468  11998.402878
 2019-09-30     276  11601.728261  12009.456522
 2019-10-01     266  11573.936090  11986.477444
 2019-10-02     258  11591.201550  12026.864341
 2019-10-03     254  11650.614173  12080.992126
 2019-10-04     249  11682.618474  12113.787149
 2019-10-05     251  11648.537849  12061.139442
 2019-10-06     251  11713.916335  12084.354582
 2019-10-07     251  11772.342629  12109.537849
 2019-10-08     241  11712.713693  12091.124481

 [1742 rows x 3 columns], '渝中':             volume  median_price    mean_price
 2015-01-01       0           NaN           NaN
 2015-01-02       0           NaN           NaN
 2015-01-03       0           NaN           NaN
 2015-01-04       0           NaN           NaN
 2015-01-05       0           NaN           NaN
 2015-01-06       0           NaN           NaN
 2015-01-07       0           NaN           NaN
 2015-01-08       0           NaN           NaN
 2015-01-09       0           NaN           NaN
 2015-01-10       0           NaN           NaN
 2015-01-11       0           NaN           NaN
 2015-01-12       0           NaN           NaN
 2015-01-13       0           NaN           NaN
 2015-01-14       0           NaN           NaN
 2015-01-15       0           NaN           NaN
 2015-01-16       0           NaN           NaN
 2015-01-17       0           NaN           NaN
 2015-01-18       0           NaN           NaN
 2015-01-19       0           NaN           NaN
 2015-01-20       0           NaN           NaN
 2015-01-21       0           NaN           NaN
 2015-01-22       0           NaN           NaN
 2015-01-23       0           NaN           NaN
 2015-01-24       0           NaN           NaN
 2015-01-25       0           NaN           NaN
 2015-01-26       0           NaN           NaN
 2015-01-27       0           NaN           NaN
 2015-01-28       0           NaN           NaN
 2015-01-29       0           NaN           NaN
 2015-01-30       0           NaN           NaN
 ...            ...           ...           ...
 2019-09-09     108  14168.592593  14136.518519
 2019-09-10     110  14038.472727  14031.118182
 2019-09-11     110  13996.009091  13995.500000
 2019-09-12     112  14050.133929  14020.080357
 2019-09-13     107  14155.700935  14086.691589
 2019-09-14     106  14107.113208  14038.971698
 2019-09-15     107  14204.897196  14145.925234
 2019-09-16     109  14287.018349  14283.238532
 2019-09-17     108  14171.222222  14229.833333
 2019-09-18     106  14007.594340  14156.462264
 2019-09-19     106  14027.377358  14181.632075
 2019-09-20     107  13919.962617  14103.046729
 2019-09-21     106  13952.358491  14137.169811
 2019-09-22     105  13954.790476  14123.209524
 2019-09-23     104  13952.384615  14154.423077
 2019-09-24     104  13972.634615  14174.673077
 2019-09-25     103  13786.233010  13977.213592
 2019-09-26     103  13837.825243  14112.786408
 2019-09-27     100  13910.480000  14005.360000
 2019-09-28     100  14028.440000  14076.620000
 2019-09-29     102  14045.715686  14079.147059
 2019-09-30     103  14358.961165  14272.650485
 2019-10-01     101  14406.584158  14318.564356
 2019-10-02      99  14304.282828  14211.939394
 2019-10-03      95  14541.557895  14337.315789
 2019-10-04      91  14484.956044  14243.615385
 2019-10-05      90  14591.466667  14343.222222
 2019-10-06      87  14609.482759  14282.229885
 2019-10-07      88  14623.181818  14362.704545
 2019-10-08      92  14488.380435  14288.228261

 [1742 rows x 3 columns], '巴南':             volume  median_price    mean_price
 2015-01-01       0           NaN           NaN
 2015-01-02       0           NaN           NaN
 2015-01-03       0           NaN           NaN
 2015-01-04       0           NaN           NaN
 2015-01-05       0           NaN           NaN
 2015-01-06       0           NaN           NaN
 2015-01-07       0           NaN           NaN
 2015-01-08       0           NaN           NaN
 2015-01-09       0           NaN           NaN
 2015-01-10       0           NaN           NaN
 2015-01-11       0           NaN           NaN
 2015-01-12       0           NaN           NaN
 2015-01-13       0           NaN           NaN
 2015-01-14       0           NaN           NaN
 2015-01-15       0           NaN           NaN
 2015-01-16       0           NaN           NaN
 2015-01-17       0           NaN           NaN
 2015-01-18       0           NaN           NaN
 2015-01-19       0           NaN           NaN
 2015-01-20       0           NaN           NaN
 2015-01-21       0           NaN           NaN
 2015-01-22       0           NaN           NaN
 2015-01-23       0           NaN           NaN
 2015-01-24       0           NaN           NaN
 2015-01-25       0           NaN           NaN
 2015-01-26       0           NaN           NaN
 2015-01-27       0           NaN           NaN
 2015-01-28       0           NaN           NaN
 2015-01-29       0           NaN           NaN
 2015-01-30       0           NaN           NaN
 ...            ...           ...           ...
 2019-09-09     176  10685.659091  10337.011364
 2019-09-10     177  10720.853107  10356.598870
 2019-09-11     177  10694.785311  10248.903955
 2019-09-12     178  10692.000000  10226.780899
 2019-09-13     177  10660.395480  10159.084746
 2019-09-14     171  10652.678363  10169.812865
 2019-09-15     175  10591.348571  10100.411429
 2019-09-16     178  10576.612360  10100.061798
 2019-09-17     174  10445.183908  10003.810345
 2019-09-18     173  10482.225434  10016.254335
 2019-09-19     168  10465.851190   9991.994048
 2019-09-20     166  10440.662651   9946.903614
 2019-09-21     172  10346.424419   9872.982558
 2019-09-22     185  10389.389189   9911.610811
 2019-09-23     187  10444.556150   9966.802139
 2019-09-24     191  10434.267016   9940.219895
 2019-09-25     193  10414.943005   9880.523316
 2019-09-26     197  10390.167513   9844.573604
 2019-09-27     196  10344.841837   9806.581633
 2019-09-28     199  10303.291457   9772.452261
 2019-09-29     199  10299.251256   9743.964824
 2019-09-30     202  10256.029703   9741.920792
 2019-10-01     198  10184.898990   9684.606061
 2019-10-02     191  10174.047120   9664.890052
 2019-10-03     187  10233.481283   9725.128342
 2019-10-04     185  10152.929730   9699.805405
 2019-10-05     185  10116.254054   9649.032432
 2019-10-06     185  10085.605405   9606.345946
 2019-10-07     186  10052.446237   9598.591398
 2019-10-08     187   9997.989305   9534.379679

 [1742 rows x 3 columns], '渝北':             volume  median_price    mean_price
 2015-01-01       0           NaN           NaN
 2015-01-02       0           NaN           NaN
 2015-01-03       0           NaN           NaN
 2015-01-04       0           NaN           NaN
 2015-01-05       0           NaN           NaN
 2015-01-06       0           NaN           NaN
 2015-01-07       0           NaN           NaN
 2015-01-08       0           NaN           NaN
 2015-01-09       0           NaN           NaN
 2015-01-10       0           NaN           NaN
 2015-01-11       0           NaN           NaN
 2015-01-12       0           NaN           NaN
 2015-01-13       0           NaN           NaN
 2015-01-14       0           NaN           NaN
 2015-01-15       0           NaN           NaN
 2015-01-16       0           NaN           NaN
 2015-01-17       0           NaN           NaN
 2015-01-18       0           NaN           NaN
 2015-01-19       0           NaN           NaN
 2015-01-20       0           NaN           NaN
 2015-01-21       0           NaN           NaN
 2015-01-22       0           NaN           NaN
 2015-01-23       0           NaN           NaN
 2015-01-24       0           NaN           NaN
 2015-01-25       0           NaN           NaN
 2015-01-26       0           NaN           NaN
 2015-01-27       0           NaN           NaN
 2015-01-28       0           NaN           NaN
 2015-01-29       0           NaN           NaN
 2015-01-30       0           NaN           NaN
 ...            ...           ...           ...
 2019-09-09     504  14167.753968  14094.472222
 2019-09-10     506  14165.282609  14072.371542
 2019-09-11     507  14109.254438  14001.412229
 2019-09-12     501  14102.497006  13987.924152
 2019-09-13     506  14142.015810  14009.341897
 2019-09-14     497  14105.993964  14000.416499
 2019-09-15     501  14083.918164  13976.998004
 2019-09-16     505  14061.710891  13918.295050
 2019-09-17     510  14042.164706  13908.749020
 2019-09-18     509  13987.261297  13870.673870
 2019-09-19     510  13964.670588  13900.013725
 2019-09-20     512  13971.816406  13925.500000
 2019-09-21     523  13957.703633  13877.942639
 2019-09-22     523  14001.470363  13856.391969
 2019-09-23     525  14006.695238  13845.150476
 2019-09-24     525  14037.580952  13846.874286
 2019-09-25     530  14053.681132  13828.869811
 2019-09-26     527  14003.015180  13804.351044
 2019-09-27     534  14074.586142  13847.078652
 2019-09-28     524  14014.341603  13853.143130
 2019-09-29     518  14037.785714  13867.229730
 2019-09-30     527  14077.189753  13893.318786
 2019-10-01     505  14041.249505  13842.148515
 2019-10-02     501  14037.736527  13883.928144
 2019-10-03     488  14069.711066  13892.133197
 2019-10-04     488  14085.715164  13899.077869
 2019-10-05     483  14080.091097  13913.797101
 2019-10-06     481  14029.496881  13868.785863
 2019-10-07     483  14028.182195  13851.120083
 2019-10-08     487  13979.248460  13817.439425

 [1742 rows x 3 columns], '江津':             volume  median_price   mean_price
 2015-01-01       0           NaN          NaN
 2015-01-02       0           NaN          NaN
 2015-01-03       0           NaN          NaN
 2015-01-04       0           NaN          NaN
 2015-01-05       0           NaN          NaN
 2015-01-06       0           NaN          NaN
 2015-01-07       0           NaN          NaN
 2015-01-08       0           NaN          NaN
 2015-01-09       0           NaN          NaN
 2015-01-10       0           NaN          NaN
 2015-01-11       0           NaN          NaN
 2015-01-12       0           NaN          NaN
 2015-01-13       0           NaN          NaN
 2015-01-14       0           NaN          NaN
 2015-01-15       0           NaN          NaN
 2015-01-16       0           NaN          NaN
 2015-01-17       0           NaN          NaN
 2015-01-18       0           NaN          NaN
 2015-01-19       0           NaN          NaN
 2015-01-20       0           NaN          NaN
 2015-01-21       0           NaN          NaN
 2015-01-22       0           NaN          NaN
 2015-01-23       0           NaN          NaN
 2015-01-24       0           NaN          NaN
 2015-01-25       0           NaN          NaN
 2015-01-26       0           NaN          NaN
 2015-01-27       0           NaN          NaN
 2015-01-28       0           NaN          NaN
 2015-01-29       0           NaN          NaN
 2015-01-30       0           NaN          NaN
 ...            ...           ...          ...
 2019-08-31      96   6219.750000  6286.510417
 2019-09-01      95   6273.010526  6326.105263
 2019-09-02      96   6157.343750  6209.885417
 2019-09-03      96   6121.322917  6173.864583
 2019-09-04      91   6195.846154  6253.714286
 2019-09-05      89   6150.269663  6204.988764
 2019-09-06      90   6059.077778  6060.300000
 2019-09-07      91   6072.252747  6112.692308
 2019-09-08      89   6062.494382  6103.842697

In [11]:
from common import read
city = '北京'
df = read(city)
volume = df.groupby(['成交时间']).size()

/Users/alex/Quant/code/LianjiaSpider/common.py:90: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  df = pd.concat(dfs)

618918

In [16]:
volume.quantile(0.975)

511.0500000000002